In [2]:
import pandas as pd
import numpy as np

# Example synthetic data (replace with your project dataset)
np.random.seed(0)
n = 100
df = pd.DataFrame({
    'income': np.random.normal(60000, 15000, n).astype(int),
    'monthly_spend': np.random.normal(2000, 600, n).astype(int),
    'credit_score': np.random.normal(680, 50, n).astype(int)
})
df.head()

   income  monthly_spend  credit_score
0   86460           3129           661
1   66002           1191           668
2   74681           1237           734
3   93613           2581           712
4   88013           1296           712

In [3]:
df['spend_income_ratio'] = df['monthly_spend'] / df['income'] 
df['rolling_spend_mean'] = df['monthly_spend'].rolling(3).mean()

In [4]:
df.head()

   income  monthly_spend  credit_score  spend_income_ratio  rolling_spend_mean
0   86460           3129           661            0.036190                 NaN
1   66002           1191           668            0.018045                 NaN
2   74681           1237           734            0.016564         1852.333333
3   93613           2581           712            0.027571         1669.666667
4   88013           1296           712            0.014725         1704.666667